*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background: rgba(90, 74, 90, 0.467);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 5px solid rgb(70, 70, 117);
}
header{
    margin-bottom: 10px;
    width: 100%;
    background-color: #1d1a1a;
    color: white;
    font-family: cursive;
    padding: 10px 0;
    height: auto;
}
h1{
    font-family: cursive;
    text-decoration: overline;
    text-transform: uppercase;
}
nav{
    border-radius: 5px;
    display: flex;
    margin-left: auto;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: auto;
    justify-content: space-evenly;
    padding-inline-start: 0;
    color: white;
    margin-block: 0;
    border: 4px solid rgb(49, 47, 47);
    background-color: rgb(104, 96, 96);
    border-radius: 5px;
}
nav ul:hover{
    background-color: rgb(43, 28, 28);
    transition-duration: 0.3s;
    transform: translate(5px, 7px);
}
nav ul li{
    margin: 10px;
    justify-content: space-evenly;
    color: white;
}
nav > ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    padding: 3px;
    border-radius: 3px;
}
nav ul li a:hover{
    color: rgb(216, 170, 83);
    transition-duration: 0.3s;
    background-color: rgb(129, 109, 101);
}
h2{
    text-decoration: underline;
    color: rgb(102, 143, 102);
    text-align: center;
    font-size: 55px;
}
#home{
border-radius: 5px;
border: 4px solid black;
height: 100vh;
text-align: center;
background-color: lightgreen;
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
mark{
    color: blueviolet;
    font-family: fantasy;
    background-color: blue;
}
#about{
    border-radius: 5px;
    border: 4px solid black;
    height: 120vh;
    background-color: coral;
    font-size: 22px;
    font-family: fantasy;
    padding: 4px;
}
.list-1{
    color: blue;
}
.list-1:hover{
    color: purple;
    transition-duration: 0.2s;
}
.list-2{
    color: blue;
}
.list-2:hover{
    color: purple;
}
.a-1{
    color: purple;
    font-family: cursive;
    font-size: 25px;
    font-weight: bold;
}
.a-1:hover{
    color: mediumseagreen;
}
.a-a:hover{
    color: grey;
}
.a-b:hover{
    color: red;
}
.a-c:hover{
    color: purple;
}
.a-d:hover{
    color: violet;
}
audio{
    color: aqua;
    background-color: black;
    border-radius: 5px;
    margin-top: 5px;
}
audio:hover{
    color: firebrick;
}
h3{
    color: darkmagenta;
    text-decoration: wavy;
    font-size: 25px;
    font-family: monospace;
}
#projects{
    border: 4px solid black;
    border-radius: 5px;
    font-family: fantasy;
    height: 100vh;
    background-color: lightseagreen;
    color: whitesmoke;
    font-size: 25px;
    padding: 3px;
}
.list-5{
color: darkgoldenrod;
font-family: cursive;
}
#contact{
    border: 4px solid black;
    border-radius: 5px;
    font-size: 25px;
    background-color: lightblue;
    height: 100vh;
    padding: 6px;
    font-family: fantasy;
    text-align: center;
}
.p-3{
    color: violet;
}
.p-3:hover{
    color: yellow;
}
footer{
    font-family: cursive;
    color: white;
    background-color: black;
}
.container{
    display:flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 1px;
    padding: 80px 10%;
}
h3{
    color: gold;
    margin-bottom: 15px;
    text-decoration: underline;
}
.list ul li{
    list-style: none;
}
.list ul li a{
    text-decoration: none;
    transition: o.4s ease-in-out;
}
.list ul li a:hover{
    color: red;
}
.list-7{
    list-style: none;
}
.list-7 a{
    text-decoration: none;
    transition: o.4s ease-in-out;
}
.list-7 a:hover{
    color: red;
}
#bottom-text{
    color: rgb(124, 340, 240);
    font-family: cursive;
    border: 3px dotted black;
    text-align: center;
}
#bottom-text .p-10{
    font-size: 20px;
    color: blue;
    text-align: center;
}
marquee{
    font-size: 20px;
    font-family: fantasy;
}
.k-1:hover{
    color: indigo;
}
.k-2:hover{
    color: orange;
}
.k-3:hover{
color: chartreuse;
}
.k-4:hover{
    color: darkorchid;
}
.k-5:hover{
    color: deepskyblue;

}